<html lang="en" xmlns:th="www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Report Page</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
</head>

<body>

	<div class="container">
		<h3 class="pt-2 pb-3">Report App</h3>
		<form th:action="@{/search}" th:object="${search}" method="post">
			<table>
				<tr>
					<td><b><label for="endDate" class="form-label text-primary">Plan
								Name:- </label></b></td>
					<td>
						<select th:field="*{planName}" class="form-control bg-secondary" id="dropDownList">
							<option th:value="''" th:text="-Select-"></option>
							<option th:each="option : ${names}" th:value="${option}" th:text="${option}"></option>
							</option>
						</select>
					</td>

					<td><b><label for="endDate" class="form-label text-primary">Plan
								Status:-</label></b></td>
					<td>
						<select th:field="*{planStatus}" class="form-control  bg-secondary" id="dropDownList">
							<option th:value="''" th:text="-Select-"></option>
							<option th:each="option : ${status}" th:value="${option}" th:text="${option}"></option>
							</option>
						</select>
					</td>

					<td><b><label for="endDate" class="form-label text-primary">Gender:-
							</label></b></td>
					<td>
						<select th:field="*{gender}" class="form-control  bg-secondary" id="dropDownList">
							<option th:value="''" th:text="-Select-"></option>
							<option th:value="'Male'" th:text="Male"></option>
							<option th:value="'Female'" th:text="Female"></option>
						</select>
					</td>
				</tr>

				<tr>
					<td><b><label for="startDate" class="form-label text-primary">Start
								Date:-</label></b></td>
					<td>
						<input type="date" th:field="*{planStartDate}">
					<td><b><label for="endDate" class="form-label text-primary">End
								Date:- </label></b></td>
					<td>
						<input type="date" th:field="*{planEndDate}">
				</tr>
				<tr>
					<td>
						<a class="icon-link btn btn-danger" href="/">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
								class="bi bi-trash" viewBox="0 0 16 16">
								<path
									d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
								<path
									d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
							</svg>
							Reset
						</a>
					</td>
					<td>
						<button type="submit" class="btn btn-danger">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
								class="bi bi-search" viewBox="0 0 16 16">
								<path
									d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
							</svg> Search
						</button>
					</td>
				</tr>
			</table>
			</form:form>

			<hr />
			<!--  To view record -->
			<div class="container">
				<table class="table table-dark table-striped">
					<thead>
						<tr class="table-dark">
							<th scope="col">S.No</th>
							<th scope="col">Citizen Name</th>
							<th scope="col">Gender</th>
							<th scope="col">Plan Name</th>
							<th scope="col">Plan Status</th>
							<th scope="col">Start Date</th>
							<th scope="col">End Date</th>
							<th scope="col">Benifit Amount</th>
						</tr>
					</thead>
					<tbody>

						<tr th:each="temp: ${plansInfo}">
							<td><span th:text="${temp.citizenId}" /></td>
							<td><span th:text="${temp.citizenName}" /></td>
							<td><span th:text="${temp.gender}" /></td>
							<td><span th:text="${temp.planName}" /></td>
							<td><span th:text="${temp.planStatus}" /></td>
							<td><span th:text="${temp.planStartDate}" /></td>
							<td><span th:text="${temp.planEndDate}" /></td>
							<td><span th:text="${temp.benifitAmount}" /></td>
						</tr>

						<tr>
							<td th:if="${plansInfo==null or plansInfo.isEmpty()}" colspan="8" class="text-center">No
								records found</td>
						</tr>
					</tbody>
				</table>
			</div>
			<hr />

			Export:- <a class="btn btn-success" href="pdf">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
					class="bi bi-file-earmark-pdf-fill" viewBox="0 0 16 16">
					<path
						d="M5.523 12.424c.14-.082.293-.162.459-.238a7.878 7.878 0 0 1-.45.606c-.28.337-.498.516-.635.572a.266.266 0 0 1-.035.012.282.282 0 0 1-.026-.044c-.056-.11-.054-.216.04-.36.106-.165.319-.354.647-.548m2.455-1.647c-.119.025-.237.05-.356.078a21.148 21.148 0 0 0 .5-1.05 12.045 12.045 0 0 0 .51.858c-.217.032-.436.07-.654.114m2.525.939a3.881 3.881 0 0 1-.435-.41c.228.005.434.022.612.054.317.057.466.147.518.209a.095.095 0 0 1 .026.064.436.436 0 0 1-.06.2.307.307 0 0 1-.094.124.107.107 0 0 1-.069.015c-.09-.003-.258-.066-.498-.256M8.278 6.97c-.04.244-.108.524-.2.829a4.86 4.86 0 0 1-.089-.346c-.076-.353-.087-.63-.046-.822.038-.177.11-.248.196-.283a.517.517 0 0 1 .145-.04c.013.03.028.092.032.198.005.122-.007.277-.038.465z" />
					<path fill-rule="evenodd"
						d="M4 0h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2m5.5 1.5v2a1 1 0 0 0 1 1h2zM4.165 13.668c.09.18.23.343.438.419.207.075.412.04.58-.03.318-.13.635-.436.926-.786.333-.401.683-.927 1.021-1.51a11.651 11.651 0 0 1 1.997-.406c.3.383.61.713.91.95.28.22.603.403.934.417a.856.856 0 0 0 .51-.138c.155-.101.27-.247.354-.416.09-.181.145-.37.138-.563a.844.844 0 0 0-.2-.518c-.226-.27-.596-.4-.96-.465a5.76 5.76 0 0 0-1.335-.05 10.954 10.954 0 0 1-.98-1.686c.25-.66.437-1.284.52-1.794.036-.218.055-.426.048-.614a1.238 1.238 0 0 0-.127-.538.7.7 0 0 0-.477-.365c-.202-.043-.41 0-.601.077-.377.15-.576.47-.651.823-.073.34-.04.736.046 1.136.088.406.238.848.43 1.295a19.697 19.697 0 0 1-1.062 2.227 7.662 7.662 0 0 0-1.482.645c-.37.22-.699.48-.897.787-.21.326-.275.714-.08 1.103z" />
				</svg>Pdf</a>
			<a class="btn btn-success" href="excel">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
					class="bi bi-file-earmark-excel-fill" viewBox="0 0 16 16">
					<path
						d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1M5.884 6.68 8 9.219l2.116-2.54a.5.5 0 1 1 .768.641L8.651 10l2.233 2.68a.5.5 0 0 1-.768.64L8 10.781l-2.116 2.54a.5.5 0 0 1-.768-.641L7.349 10 5.116 7.32a.5.5 0 1 1 .768-.64z" />
				</svg>Excel</a>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
		crossorigin="anonymous"></script>
</body>

</html>